body {
  background-color: #110039;
}

.top-bar {
  background-image: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);
  box-shadow: 0 1px 0 0 #110038;
}

.btn-header {
  color: white;
  background: #ee3efe;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
}

.btn-header:hover,
.choose-style:hover button {
  background: #cf37db;
}

#style-list p.sailor-night:hover {
  background: #2e32fb;
}

.url-header a {
  color: #ffffff;
}

.search-bar {
  box-shadow: inset -2px -2px 0 0 #8f8f8f, inset 2px 2px 0 0 #ffffff;
}

.title-search-bar {
  background-image: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);
}

.url-header a:hover {
  border: 1px dotted white;
}

.dashed {
  border-bottom: 1px solid white;
}

.search-bar,
.btn-search {
  color: black;
  background: #b4b4b4;
}

.title-section {
  border: 1px solid #2e32fb;
  box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #110038;
}

.title-gif {
  background-image: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);
}

.gif:hover {
  background: #b4b4b4;
  box-shadow: inset -2px -2px 0 0 #8f8f8f, inset 2px 2px 0 0 #ffffff;
}

.gif-title {
  border-bottom: 1px solid white;
  color: white;
  background-image: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);
}

.btn-gif {
  background: #2e32fb;
  border: 1px solid #4c2f99;
  box-shadow: inset -2px -2px 0 0 #2124b3, inset 2px 2px 0 0 #ffffff;
}

.autocomplete-content{
  background: #b4b4b4;
  box-shadow: inset -2px -2px 0 0 #8f8f8f, inset 2px 2px 0 0 #ffffff;
}

.autocomplete-content p {
  padding: 2px;
  margin-bottom: 10px;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
}

.autocomplete-content p:hover {
  cursor: pointer;
  background: #a5a5a5;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
}

.autocomplete-content a {
  font-family: "Chakra Petch", sans-serif;
  font-size: 1rem;
  color: #110038;
  letter-spacing: 0;
  display: block;
  text-decoration: none;
  border: 1px solid transparent;
  padding: 8px;
}

.autocomplete-content a:hover {
  border: 1px dotted #110038;
}

@media screen and (max-width: 768px) {
  .url-header {
    background: #ee3efe;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
  }
}
