body{
    background-color: #110039;
}

.top-bar{
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
    box-shadow: 0 1px 0 0 #110038;
}

.btn-header{
    color: white;
    background: #EE3EFE;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
}

.btn-header:hover,.choose-style:hover button{
    background: #CF37DB;
}

#style-list p.sailor-night:hover{
    background: #2E32FB;
}

.url-header a{
    color: #FFFFFF;
}

.title-search-bar{
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
}

.url-header a:hover{
    border: 1px dotted white;
}

.dashed{
    border-bottom: 1px solid white;
}

.search-bar,.btn-search{
    color: black;
    background: #B4B4B4;
}

.search-bar{
    box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}

.title-section{
    border: 1px solid #2E32FB;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #110038;
}

#inner_gifs div:hover{
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #5C5C5C, inset 2px 2px 0 0 #FFFFFF;
    cursor: pointer;
}

.gif-title-card{
    border-bottom: 1px solid white;
    color: white;
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
}

.btn-gif{
    background: #2E32FB;
    border: 1px solid #4C2F99;
    box-shadow: inset -2px -2px 0 0 #2124B3, inset 2px 2px 0 0 #FFFFFF;
}