body{
    background-color: #FFF5FE;
}

.top-bar{
    background-image: linear-gradient(to right, #4180F6, #F7C9F3);
}

.btn-header{
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.btn-header:hover,.choose-style:hover button, .search-input:focus ~ .btn-search:hover{
    background: #E6BCE2;
}

.search-input:focus ~ .btn-search, .btn-search:focus{
    color: black;
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.title-search-bar{
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
}

.dashed{
    border-bottom: 1px solid black;
}

.title-section{
    border: 1px solid #E6BBE2;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
}

#inner_gifs div:hover{
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    cursor: pointer;
}

.gif-box p{
    border-bottom: 1px solid white;
    color: white;
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
}