* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Chakra Petch', sans-serif;
}

.top-bar{
    display: flex;
    color: white;
    box-shadow: 0 1px 0 0 #110038;
    font-size: 0.8rem;
}

.top-bar p{
    padding: 3px 7px;
}

.content{
    margin: 40px auto;
    display: flex;
    flex-flow: column wrap;
    max-width: 1200px;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
}

button,input{
    outline: none;
}

.btns-header{
    display: flex;
    margin: 5px 0;
}

.btn-header{
    width: 144px;
    height: 36px;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 1rem;
    padding: 4px;
    cursor: pointer;
}

.create-gif{
    margin-right: 10px;
}

.create-gif:hover button span{
    display: block;
    border: 1px dotted black;
}

.btn-header span{
    display: block;
    line-height: 1.5rem;
}

.btn-header span:hover {
    display: block;
    border: 1px dotted black;
}

.btn-header+.dropdown{
    width: 36px;
    height: 36px;
    margin-left: -5px;
}

.choose-style{
    display: inline-block;
}

.choose-style:hover button span{
    display: block;
    border: 1px dotted black;
}

.choose-style ul li{
    list-style: none;
    position: relative;
}

#style-list{
    position: absolute;
    display: none;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    width: 100%;
}

#style-list p{
    padding: 10px;
    margin: 10px;
    background: #F0F0F0;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

#style-list p:hover{
    border: 1px solid #CCA6C9;
    box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
    cursor: pointer;
}

#style-list p.sailor-day:hover{
    background: #FFF4FD;
}

#style-list p.sailor-night:hover{
    color: white;
    background: #2E32FB;
}

.url-header{
    margin: 7px 0 0 10px;
    vertical-align: middle; 
}

.url-header a{
    padding: 5px 15px 5px 0;
    text-decoration: none;
    color: #110038;
    border: 1px solid transparent;
}

.url-header a:hover{
    border: 1px dotted black;
}

.search-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    margin-top: 35px;
}

.title-search-bar{
    font-weight: bold;
    font-size: 14px;
    padding: 3px 8px;
    box-shadow: inset -2px 0 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.title-search-bar p{
    margin-top: 3px;
}

.search-bar{
    padding: 15px 12px;
    display: flex;
    justify-content: space-between;
}

.search-input{
    width: 100%;
    margin-right: 10px;
    line-height: 3rem;
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 1rem;
    padding: 0 10px;
}

.search-input::content{
    font-size: 2rem;
}

.search-input::placeholder{
    font-family: 'Chakra Petch', sans-serif;
    font-size: 1rem;
    color: #B4B4B4;
    letter-spacing: 0;
    line-height: 22px;
}

.btn-search{
    /* vertical-align: middle; */
    width: auto;
    height: 2.5rem;
    margin: auto;
    background: #E6E6E6;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 1rem;
    color: #B4B4B4;
    letter-spacing: 0;
    line-height: 18px;
}

.btn-search-content{
    display: flex;
    justify-content: space-between;
    padding: 9px;
}

.btn-search-content img{
    padding-right: 8px;
}

.btn-search-content::after{
    content: "Buscar"
}

.title-section{
    margin: 20px 0;
    padding: 7px;
    background: #FFFAFE;
}

#inner_gifs{
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
}

#inner_gifs div{
    height:300px; 
    width: 25%;
    padding: 3px;
    margin: 0px;
}

#inner_gifs div img{
    width: 100%;
    height: 100%;
}

#inner_gifs div img:hover,#gif_suggested div img:hover,.gif-box span:hover{
    border: 1px dotted #110038;
}

.search-results{
    display: none;
}

#gif_suggested {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
}

#gif_suggested div {
    /* flex-basis: content; */
    margin: 0 8px;
    padding: 3px;
    max-width: 23.6%;
    height: auto;

}

#gif_suggested div img{
    position: relative;
    width: 100%;
    height: 270px;
    border: 1px solid transparent;
}

.gif-box{
    position: relative;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.gif-box p{
    font-weight: bold;
    line-height: 1.2rem;
    font-size: 0.9rem;
    padding: 2px 4px;
}

.btn-gif{
    position: absolute;
    top: 90%;
    left: 19%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    padding: 8px 12px;
}

.gif-box a{
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 768px) {

    .content{
        margin: 40px 40px;
    }

    .top-bar{
        display: none;
    }

    .nav-bar{
        flex-flow: column wrap;
    }

    .nav-bar a{
        text-align: center
    }

    .btns-header{
        flex-flow: column wrap;
    }

    .btn-header{
        width: 100%;
        margin: 8px 0;
    }

    .create-gif{
        margin: 20px 0 0 0;
        padding: 0;
    }

    .dropdown{
        display: none;
    }

    .url-header{
        display: none;
    }

    .search-content{
        margin-top: 0;
    }

    .search-input::placeholder{
        font-size: 1rem;
        line-height: auto;
    }

    #lupa{
        margin-left: 6px;
    }

    .btn-search-content::after{
        content: none;
    }

    #inner_gifs div{
        width: 100%;
    }

    #inner_gifs img{
        height:350px; 
        width:100%; 
        padding: 4px 4px;
    }

    #gif_suggested div:nth-child(-n+3){
        display: none;
    }

    #gif_suggested div {
        margin: 10px auto;
        padding: 3px;
        max-width: 100%;
        height: auto;
    }

    #gif_suggested div img{
        position: relative;
        width: 100%;
        height: auto;
        cursor: pointer;
    }

    .btn-gif{
        top: 85%;
        left: 23%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

}