* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Chakra Petch", sans-serif;
}

.loading-page {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  padding: 10px;
  background-color: blue;
  color: white;
}

.top-bar {
  display: flex;
  color: white;
  box-shadow: 0 1px 0 0 #110038;
  font-size: 0.8rem;
}

.top-bar p {
  padding: 3px 7px;
}

.content {
  padding: 0 20px;
  margin: 40px auto;
  display: flex;
  flex-flow: column wrap;
  max-width: 1200px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}

button,
input {
  outline: none;
}

.btns-header {
  display: flex;
  margin: 5px 0;
}

.btn-header {
  width: 144px;
  height: 36px;
  font-family: "Chakra Petch", sans-serif;
  font-size: 1rem;
  padding: 4px;
  cursor: pointer;
}

.create-gif {
  margin-right: 10px;
}

.create-gif:hover button span {
  display: block;
  border: 1px dotted black;
}

.btn-header span {
  display: block;
  line-height: 1.5rem;
}

.btn-header span:hover {
  display: block;
  border: 1px dotted black;
}

.btn-header + .dropdown {
  width: 36px;
  height: 36px;
  margin-left: -5px;
}

.choose-style {
  display: inline-block;
}

.choose-style:hover button span {
  display: block;
  border: 1px dotted black;
}

.choose-style ul li {
  list-style: none;
  position: relative;
}

#style-list {
  position: absolute;
  display: none;
  background: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  width: 100%;
  z-index: 1;
}

#style-list p {
  padding: 10px;
  margin: 10px;
  background: #f0f0f0;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
}

#style-list p:hover {
  border: 1px solid #cca6c9;
  box-shadow: inset -1px -1px 0 0 #e6dce4, inset 1px 1px 0 0 #ffffff;
  cursor: pointer;
}

#style-list p.sailor-day:hover {
  background: #fff4fd;
}

#style-list p.sailor-night:hover {
  color: white;
  background: #2e32fb;
}

.url-header {
  margin: 7px 0 0 10px;
  vertical-align: middle;
}

.url-header a {
  padding: 5px 15px 5px 0;
  text-decoration: none;
  color: #110038;
  border: 1px solid transparent;
}

.url-header a:hover {
  border: 1px dotted black;
}

#gif-count {
  position: absolute;
  font-size: 0.7rem;
}

.search-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  background: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  margin-top: 35px;
}

.title-search-bar {
  font-weight: bold;
  font-size: 14px;
  padding: 3px 8px;
  box-shadow: inset -2px 0 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
}

.title-search-bar p {
  margin-top: 3px;
}

.search-bar {
  padding: 15px 12px;
  display: flex;
  justify-content: space-between;
}

.search-input {
  width: 100%;
  margin-right: 10px;
  background: #ffffff;
  border: 1px solid #979797;
  box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
  font-family: "Chakra Petch", sans-serif;
  font-size: 1rem;
  padding: 0 10px;
}

.search-input::content {
  font-size: 2rem;
}

.search-input::placeholder {
  font-family: "Chakra Petch", sans-serif;
  font-size: 1rem;
  color: #b4b4b4;
  letter-spacing: 0;
  line-height: 22px;
}

.btn-search {
  /* vertical-align: middle; */
  width: auto;
  height: 2.5rem;
  margin: auto;
  background: #e6e6e6;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
  font-family: "Chakra Petch", sans-serif;
  font-size: 1rem;
  color: #b4b4b4;
  letter-spacing: 0;
  line-height: 18px;
}

.btn-search-content {
  display: flex;
  justify-content: space-between;
  padding: 9px;
}

.btn-search-content img {
  padding-right: 8px;
}

.btn-search-content::after {
  content: "Buscar";
}

.title-section {
  margin: 20px 0;
  padding: 7px;
  background: #fffafe;
}

#gif_suggested .gif-img:hover,
#gif_suggested .btn-gif:hover {
  border: 1px dotted #110038;
}

.search-results {
  display: none;
}

#gif_suggested {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 10px;
  justify-content: center;
}

#gif_suggested .gif-box {
  padding: 4px;
  width: 100%;
  position: relative;
  background: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
}

#gif_suggested .gif-title {
  padding: 3px 4px;
  font-family: "Chakra Petch", sans-serif;
  font-weight: bold;
  font-size: 0.8rem;
}

#gif_suggested .gif-img {
  height: 280px;
}

#gif_suggested .gif-img img {
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.082);
  background-image: url(https://win98icons.alexmeub.com/icons/png/application_hourglass-0.png);
  background-repeat: no-repeat;
  background-position: center;
}

#gif_suggested .btn-gif {
  position: absolute;
  top: 272px;
  left: 55px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding: 8px 12px;
}

#gif_suggested .gif-box a {
  color: white;
  text-decoration: none;
}

.autocomplete-content {
  /* box-shadow: inset -2px -2px 0 0 #8f8f8f, inset 2px 2px 0 0 #ffffff; */
  display: none;
  padding: 0 16px;
  color: #000000;
  padding-top: 10px;
}

.clear-results {
  color: darkblue;
  float: right;
  text-decoration: underline;
  cursor: pointer;
}

.popup {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #b4b4b4;
  padding: 10px;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
}

.modal-div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  max-height: fit-content;
  background-color: #fff5fe;
  -webkit-box-shadow: 0px 1px 7px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 7px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 7px 3px rgba(0, 0, 0, 0.75);
}

.modal-div .gif-title{
  padding: 4px;
}

.modal-div .gif-title img{
  cursor: pointer;
  width: 20px;
  margin-top: 2px;
}

.modal-gif-img {
  width: 100%;
  max-height: 400px;
}

.share-box-flex{
  display: flex;
}

.social-media {
  padding: 0 5px;
  margin-left: 4px;
  margin-bottom: 10px;
  width: fit-content;
}

.social-media p {
  font-size: 0.9rem;
  font-weight: bolder;
  cursor: pointer;
  background: #f7c9f3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  margin: 5px 0;
  padding-right: 8px;
}

.social-media p a{
  color: black;
  text-decoration: none;
}

.social-media img {
  margin: 5px 10px;
  vertical-align: middle;
  width: 25px;
}

.download-btn{
  margin: 0 auto;
  align-self: center;
  display: flex;
}

.download-btn p{
  padding: 10px;
  background: #f7c9f3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

.download-btn img{
  margin: 0 auto;
  display: block;
  width: 50px;
}

@media screen and (max-width: 768px) {
  .content {
    margin: 40px 10px;
  }

  .top-bar {
    display: none;
  }

  .nav-bar {
    flex-flow: column wrap;
  }

  .nav-bar a {
    text-align: center;
  }

  .btns-header {
    flex-flow: column wrap;
  }

  .btn-header {
    width: 100%;
    margin: 8px 0;
  }

  .create-gif {
    margin: 20px 0 0 0;
    padding: 0;
  }

  .dropdown {
    display: none;
  }

  .url-header {
    display: block;
    margin: 10px 0;
    padding: 1px;
    text-align: center;
  }

  .url-header a{
    display: block;
  }

  .search-content {
    margin-top: 0;
  }

  .search-input::placeholder {
    font-size: 1rem;
    line-height: auto;
  }

  #lupa {
    margin-left: 6px;
  }

  .btn-search-content::after {
    content: none;
  }

  #gif_suggested {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-column-gap: 10px;
    justify-content: center;
  }

  #gif_suggested div {
    max-width: 100%;
    height: auto;
  }

  .clear-results {
    display: none;
  }

  .modal-div{
    width: 90%;
    height: auto;
  }

  #copyEmbed{
    display: none;
  }
}
