.back-arrow {
    margin: 0 20px 10px 0;
}

.create-gif-section,
.video-recording {
    margin: 40px auto;
    max-width: 60%;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    font-size: 0.8rem;
}

.create-gif-title {
    color: white;
    font-weight: bolder;
    margin: 3px;
    padding: 1px 4px;
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
}

.create-gif-title .close-icon {
    float: right;
    margin-top: 1px;
}

.create-gif-window {
    padding: 15px;
    display: flex;
}

.create-gif-window * {
    padding: 0 5px;
}

.create-gif-text {
    margin-top: 20px;
}

.it-bld {
    font-style: italic;
    font-weight: bolder;
}

.create-gif-btns {
    display: flex;
    margin-top: 10px;
    padding: 10px;
    float: right;
}


.create-gif-btns * {
    margin: 0 4px;
}

.btn-create-gif {
    width: 144px;
    height: 36px;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 1rem;
    padding: 4px;
    cursor: pointer;
}

.cancel:hover {
    background: rgb(236, 222, 233);
}

.cancel {
    background: #FFF4FD;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.cancel:hover {
    background: rgb(236, 222, 233);
}

.confirm {
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.confirm:hover {
    background: rgb(223, 181, 219);
}

.video-recording {
    display: none;
    margin: 10px auto;
}

.video-container {
    padding: 0 4px;
}

#videoElement {
    padding: 1px;
    max-width: 100%;
    height: auto;
    background-color: #666;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    z-index: -1;
}

.capture-btn {
    margin: 0 5px 5px 0;
    float: right;
}

.capture-btn button {
    width: fit-content;
}

.btn-camera,
.capture-btn span {
    padding: 3px;
    vertical-align: middle;
}

@media screen and (max-width: 768px) {

    .create-gif-section,
    .video-recording{
        max-width: 100%;
    }

    .create-gif-window {
        display: block;
    }

    .create-gif-btns {
        display: flex;
        flex-flow: column wrap;
        float: none;
        align-items: center;
    }

    .cancel{
        display: none;
    }

    .window-img,.subtitle-window{
        padding: 4px 0;
        text-align: center;
    }

    .create-gif-text {
        margin-top: 5px;
    }


}